@import "intro/intro";

//reset
*{
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

//grid
.row:before, .row:after{
    content: "";
    display: table;
    clear: both;
}

[class*='col-']{
  float: left;
  min-height: 1px;
  width: 100%/12;
  padding: 12px;
}

@for $i from 1 through 12 {
  .col-#{$i} { width: (100%/12)*$i; }
}


//wysokość nagłówka i stopki
#header, #footer{
  height: 10vh;
}

//wysokość nawigacji, części głównej i alertowej
#nav, #mainPart, #alerts{
    height: 60vh;
}

//odstęp pomiędzy częściami
.marginTop{
  margin-top: 3.9vh;
}

.border{
  border: 1px solid black;
}

.grid-display{
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


//style dla nazwy studia oraz tytułu gry
#studioTitle, #gameTitle{
  font-weight: bold;
  font-family: 'Shrikhand', cursive;
  font-size: 10vh;
  text-align: center;
  text-shadow: 2px 1px white;
  color: navy;
  margin-top: 13vh;
}

#sentence, #subGameTitle{
  font-weight: bold;
  font-family: 'Shrikhand', cursive;
  font-size: 3.5vh;
  text-align: center;
  text-shadow: 2px 1px white;
  color: black;
  margin-top: 1vh;
}

//animacje dla tytułu gry
.animGameTitle{
  animation-name: showGameTitle;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes showGameTitle{
  0%{ opacity: 0; }
  100%{ opacity: 1; }
}

.animGameTitleReverse{
  animation-name: hideGameTitle;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes hideGameTitle{
  0%{ opacity: 1; }
  100%{ opacity: 0; }
}

//kolor tła - beżowy
.beigeBackground{
  background-color: beige;
}

//kolor tła linear gradient - biało-zielony
.whiteGreenBackground{
  background: linear-gradient(white, green);
}



//style dla listy przycisków
.btnList{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

//podstawowe style przycisku
.mainStyleBtn{
  width: 15vh;
  height: 7.5vh;
  font-weight: bold;
  font-size: 3vh;
  border-radius: 10px;
}
