//reset
*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
  background-color: lightgray;
}

//grid-container
.grid-container{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.row:before, .row:after{
    content: "";
    display: table;
    clear: both;
}

[class*='col-']{
  float: left;
  min-height: 1px;
  width: 100%/12;
  padding: 12px;
}

@for $i from 1 through 12 {
  .col-#{$i} { width: (100%/12)*$i; }
}

//styles for intro
@mixin inscriptions{
    font-weight: bold;
    font-family: 'Shrikhand', cursive;
    text-align: center;
    text-shadow: 2px 1px white;
    z-index: -100;
}

.unfaithfulDogs{
  @include inscriptions();
  color: navy;
  font-size: 400%;
  padding-top: 15%;
}

.sentence{
  @include inscriptions();
  color: black;
  font-size: 150%;
}

#title{
  @include inscriptions();
  color: 	lightseagreen;

  h2{ font-size: 450%; padding-top: 15%; }
  h6{ font-size: 200%; }
}

//styles for Start of game - option choice
#startOptionsGame{ display: flex; justify-content: space-between; }

#hello{
  font-family: 'Berkshire Swash', cursive;
  font-size: 150%;
  text-shadow: 2px 1px white;
  border-bottom: 1px solid black;
  text-indent: 3%;
  padding-bottom: 2%;
}
#startOptionsGame{ padding: 15px 0 25px 0; border-bottom: 1px solid black; }

//main mixin for menu buttons
@mixin btnsMenu{
  width: 20%;
  height: 5%;
  font-weight: bold;
  font-size: 150%;
  padding: 1% 0 1% 0;
  border-radius: 15%;
  box-shadow: 0 9px gray;
}

//styles for menu buttons
.btnInfo{ @include btnsMenu(); background: linear-gradient(#FFF, #FF8C00);}
.btnLicence{@include btnsMenu(); background: linear-gradient(#FFF, #8A2BE2);}
.btnTutorial{@include btnsMenu(); background: linear-gradient(#FFF, #BDB76B);}
.btnNewGame{@include btnsMenu(); background: linear-gradient(#FFF, green);}

.btnInfo:hover, .btnLicence:hover, .btnTutorial:hover, .btnNewGame:hover{
  color: #8B4513; }

.btnInfo:active, .btnLicence:active, .btnTutorial:active, .btnNewGame:active{
    animation-name: changeBorder; animation-duration: 0.2s; }

//anim for menu buttons
@keyframes changeBorder { 0%   {border-radius: 15%;} 100% {border-radius: 25px;} }

//styles for description Menu
.descriptionMenu{
  text-indent: 3%;
  padding-top: 2%;
  text-shadow: 2px 1px white;
  font-family: 'Berkshire Swash', cursive;
  font-size: 120%;
}

//styles for choosen buttons
#chooseBtns{ display: flex; justify-content: space-around; }
#randomHero{
  @include btnsMenu();
  box-shadow: 0 9px #2F4F4F;
  background: linear-gradient(#8FBC8F, black);
  color: white;
  margin-top: 5%;
}

.randomHeroDescription{
  z-index: 2;
  margin-left: 11%;
  font-family: 'Berkshire Swash', cursive;
  position: absolute;
}

.createHeroDescription{
  z-index: 2;
  margin-left: 11%;
  font-family: 'Berkshire Swash', cursive;
  position: absolute;
}

#createHero{
  @include btnsMenu();
  box-shadow: 0 9px #4B0082;
  background: linear-gradient(white, #4B0082);
  color: white;
  margin-top: 5%;
 }
#randomHero:hover, #createHero:hover{ animation-name: biggerBtn; animation-duration: 1.75s; }

@keyframes biggerBtn{ 0%{} 100%{width: 25%;}}

//styles fo creator
#slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-top: -35px;

 ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;

    li {
       position: relative;
       display: block;
       float: left;
       padding: 0;
       width: 1100px;
       height: 575px;
       background-color: green;
     }
  }
}

#sliderBtn{
  display: flex;
  justify-content: space-between;

  button.control_prev {
    width:15%;
    height: 30px;
    background: tomato;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
  }

   button.control_next{
     width:15%;
     height: 30px;
     background: slateblue;
     color: #fff;
     font-weight: bold;
     font-size: 20px;
   }
}

.style1{
  text-decoration: underline;
  text-decoration-color: gold;
  font-size: 22px;
  font-weight: bold;
}

#chooseRace, #chooseOccupation{
  width: 100%;
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding-top: 10px;

  div{
    width: 25%;
    float: left;
  }

  #chooseRaceDescription, #chooseOccupationDescription{
	width: 100%;

	p:nth-child(1){
		color: black;
		text-decoration: underline;
		text-decoration-color: gold;
		padding: 15px;
		text-indent: 17px;
	}

	p:nth-child(2){
	width: 95%;
		text-indent: 50px;
		margin: 0 auto;
	}
}
}
