//reset
*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
  background-color: lightgray;
}

//grid-container
.grid-container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row:before, .row:after{
    content: "";
    display: table;
    clear: both;
}

[class*='col-']{
  float: left;
  min-height: 1px;
  width: 100%/12;
  padding: 12px;
}

@for $i from 1 through 12 {
  .col-#{$i} { width: (100%/12)*$i; }
}

//styles for intro
@mixin inscriptions{
    font-weight: bold;
    font-family: 'Shrikhand', cursive;
    text-align: center;
    text-shadow: 2px 1px white;
    z-index: -100;
}

.unfaithfulDogs{
  @include inscriptions();
  color: navy;
  font-size: 400%;
  padding-top: 15%;
}

.sentence{
  @include inscriptions();
  color: black;
  font-size: 150%;
}

#title{
  @include inscriptions();
  color: 	lightseagreen;

  h2{
      font-size: 450%;
      padding-top: 15%;
  }

  h6{
      font-size: 200%;
  }
}
